In [4]:
import pandas as pd

dados = pd.read_csv('https://raw.githubusercontent.com/alura-cursos/data-science-analise-exploratoria/main/Aula_0/ml-latest-small/ratings.csv')

In [13]:
dados.columns = ['ID USER', 'MOVIE ID', 'RATING', 'TIME']
dados['RATING'].mean() # its give to us the mean (MEDIA) of column
dados['RATING'].min() # its give to us the min (MENOR) of column
dados['RATING'].max() # its give to us the max (MAIOR) of column
dados['RATING'].std() # its give to us the standard deviation (DESVIO PADRÃO) of column
dados['RATING'].mode() # its give to us the mode (MODA) of column

0    4.0
Name: RATING, dtype: float64